<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Products Management</title>
    <!-- Accessing Bootstrap CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <!--HEADER-->
    <header>
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://www.inixindo.id/wp-content/uploads/2020/07/Badge-Inix-Warna-Copy.png" alt="Logo" width="40" height="24" class="d-inline-block align-text-bottom">
                    MyProject
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/home/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categories/index">Categories</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!--CONTENT-->
    <div class="container mt-3">
        @RenderBody()
    </div>

    <!--FOOTER-->
    <div class="mt-5 pt-5" style="background-color:#EACACB">
        <hr />
        <footer>
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
        </footer>
        <div class="d-flex justify-content-center align-items-center" style="height:50px;background-color:#003472;">
            <span class="h5 text-center text-white">&copy; 2024 Inixindo</span>
        </div>
    </div>


    <!-- Accessing Bootstrap JS -->
    <script src="~/lib/bootstrap/js/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>