@section pagetitle {
    Categories Page
}

<h3>Categories Page</h3>
<hr />
<ul>
    <li>
        <a href="/categories/show/1">Beverages</a>
    </li>
    <li>
        <a href="/categories/show/2">Meals</a>
    </li>
</ul>
