@using MyProject.Models
@model List<Category>

@section pagetitle {
    Categories Page
}

<h3>Categories Page</h3>
<hr />
<ul>
    @foreach (var category in Model)
    {
        <li>@category.CategoryName</li>
    }
</ul>
